<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Report Notification</title>
  </head>

  <body>
    <div>
      <p>Dear {{name}}</p>
      <p>Please find the unassigned ships list attached.<br>ALFMS team</p>
    </div>
  </body>
</html>